openai>=2.15.0
openai-agents>=0.7.0
pillow>=12.1.0
pyyaml>=6.0
hypium>=6.0.7.210
opencv-python>=4.13.0.90
numpy>=2.2.6
ffmpeg-python>=0.2.0
imageio-ffmpeg>=0.6.0
hypium-mcp @ file:./resources/hypium_mcp-0.6.5-py3-none-any.whl